.button {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  background-color: #F8D24E;
  width: 152px;
  height: 42px;
  cursor: pointer;
  padding: 0px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.tab-desk__button:hover {
  background: #0A8817;
}

.tab-desk__button:focus {
  background: #0A8817;
  color: #ffff;
}