.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-Arrow {
  width: 2.5625em;
}

.icon-cow {
  width: 0.97265625em;
}

.icon-weight {
  width: 0.8056640625em;
}

.icon-icecream {
  width: 0.5em;
}

.icon-hr-dots {
  width: 6.0830078125em;
}

.icon-logo {
  width: 0.9228515625em;
}

.icon--1 {
  width: 11.130859375em;
}

.icon-herodotsM {
  width: 6.345703125em;
}

.icon-herodotsS {
  width: 3.125em;
}
