.contacts{
 padding: 30px 20px; 

 @media screen and(min-width: 480px){
  padding: 30px 100px 12px 100px ; 
  }

@media screen and(min-width: 768px){
  padding: 40px 32px 20px 32px ; 
  }

@media screen and(min-width: 1200px){
  padding: 50px 16px 60px 16px;
  }

  &__container{
    display: block;
  }

  &__locations{
    display: flex;
    align-items: center;
    max-width: 280px;
    --items:1;

    @media screen and(min-width: 768px){
      max-width: 224px;
      --items:3;
      }
    
    @media screen and(min-width: 1200px){
      max-width: 368px;
      }

  }
  &__thumb{
    display: block;
    text-align: start;
    padding-top:40px ;
    padding-right: 32px;
    padding-bottom: 40px;
    padding-left: 32px;
    width: 280px;
    height: 412px;
    
    background-color:$accent-bg-color ;
   
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @media screen and(min-width: 768px){
      padding-left: 24px;
      padding-right: 24px;
      max-width: 224px;
      height: 537px;
      }

    @media screen and(min-width: 1200px){
      padding: 40px;
      width: 368px;
      height: 542px;
      }
  }

  &__thumb:not(:last-child){
    --indent:16px ;
    
    @media screen and(min-width: 1200px){
      --indent:32px ;
      
    }
    }
  &__title{
font-weight: 500;
font-size: 12px;
line-height: 1.4;
text-align: center;

color: $title-color-black;

margin-bottom: 20px;
background-color: $link-bg-color;
border-radius: 4px;

@media screen and(min-width: 768px){
  font-size: 16px;
  // max-width: 76px;
  // height: 30px;
  border-radius: 6px;
  margin-bottom: 32px;
  }

  }

  &__city{
font-weight: 500;
font-size: 12px;
line-height: 1.86;
color:$secondary-text-color;

@media screen and(min-width: 768px){
  font-size: 14px;
}

@media screen and(min-width: 768px){
  font-size: 16px;
  
}
  }

  &__address{
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  margin-bottom: 8px;
  color:$link-bg-color;
  }

  @media screen and(min-width: 768px){
    font-size: 14px;
  }

  @media screen and(min-width: 1200px){
    font-size: 16px;
    
  }
  
  &__work-list{
    margin-top: 24px;
    margin-bottom: 24px;

    @media screen and(min-width: 768px){
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }

  &__phone, &__email{
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color:$secondary-text-color;

  @media screen and(min-width: 768px){
    font-size: 14px;
  }
  
  @media screen and(min-width: 768px){
    font-size: 16px;
    
  }
  }
}

.work-list__days,.work-list__hours {
font-weight: 500;
font-size: 12px;
line-height: 1.86;
color:$secondary-text-color;

  @media screen and(min-width: 768px){
    font-size: 14px;
  }
  
  @media screen and(min-width: 1200px){
    font-size: 16px;
    
  }
}

.work-list__hours{
color: $time-color;
}

.contacts__btn{
  width: 196px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;

display: block;
align-items: center;
text-align: center;
box-sizing: border-box;
color: $secondary-text-color;
background:$link-bg-color;
border-radius: 10px;

@media screen and(min-width: 768px){
  display: flex;
}

}

.contacts__btn:not(:last-child){
  --indent:16px;

  @media screen and(min-width: 1200px){
  --indent: 32px;
  }
}